/* Estilos para el componente Nav */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  position: sticky; /* Fijar la barra de navegación en la parte superior */
  top: 0; /* Asegurarse de que esté en la parte superior */
  left: 0; /* Asegurarse de que esté pegada a la izquierda */
  right: 0; /* Asegurarse de que ocupe todo el ancho */
  z-index: 1; /* Asegurarse de que esté por encima de los demás elementos */
}

.options li {
  display: inline-flex;
  padding: 0.5em;
}

.active {
  color: brown;
  font-weight: bold;
  text-decoration: none;
}
.disable {
  color: #f6f4e6;
  text-decoration: none;
}







