/* Estilos para el componente SearchBar */
.search-bar-container {
  background-color: rgba(149, 194, 173, 0.8); /* Cambiar el color de fondo a RGBA */
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 70%;
  margin: 0 auto;
}

.search-bar-container input {
  padding: 8px;
  font-size: 16px;
  border: strong;
  border-radius: 4px;
  margin-right: 8px;
  width: 35%;
}

.search-bar-container button {
  padding: 8px 16px;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.search-bar-container button:hover {
  background-color: #27ae60;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}


